#singlecareer{
    padding: 5px 10px 5px 10px;
    box-shadow: 3px 2px 3px 3px rgb(237, 245, 239);
    border-radius: 5px;
}

#singlecareer:hover{
    box-shadow: 3px 2px 3px 3px rgb(187, 252, 203);
}

#title{
    margin-top: 20px;
    text-align: center;
}