#singlecareer{
    padding: 5px 10px 5px 10px;
    box-shadow: 3px 2px 3px 3px rgb(237, 245, 239);
    border-radius: 5px;
}

#singlecareer:hover{
    box-shadow: 3px 2px 3px 3px rgb(187, 252, 203);
}

#title{
    margin-top: 40px;
    text-align: center;
}

.loader{
    position: relative;
    margin-top: 0px;
    padding-left: 42%;
    padding-bottom: 20%;
    padding-top: 15%;
    /* background-color: rgba(13, 91, 155, 0.335); */
}

#careerBlock{
    width: 840px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 3px 2px 3px 2px#474747;
    border-radius: 10px;
    top: 5%;
    left: 35%;
    color: black;
    font-size: 16px;
 }

 #pers{
     font-weight: 700;
     font-size: 16px;
 }