<!--<div class="container-fluid" id="categorie" *ngFor="let mentor of mentors">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of mentor">
            <div class="card" style="width: 18rem;" id="mentor">
                <img class="card-img-top" src="assets/images/avatar.png" alt="Card image cap">
                <div class="card-body" id="body">
                    <div id="name"><h3 class="card-title">Nom: {{item.name}}</h3></div>
                    <div class="card-text">
                        Aptitudes:
                        <ul>
                            <li *ngFor="let skill of item.skills">{{skill}}</li>
                        </ul>
                        <div>
                            Contacter le mentor:
                        </div>
                        <ul>
                            <li>
                                {{item.contact}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div> -->
<div class="loader" *ngIf="loading || load1">
    <img src="assets/images/Spinner-1s-237px.gif" alt="">
</div>
<div class="row">
    <div class="card item row" style="width: 13.5rem;" id="mentor" *ngFor="let item of list">
        <img class="card-img-top" src="assets/images/avatar.png" alt="Card image cap">
        <div class="card-body" id="body">
            <div id="name">
                <h3 class="card-title">Nom: {{item.name}}</h3>
            </div>
            <div class="card-text">
                <div>
                    Contacter le mentor:
                </div>
                <ul>
                    <li>
                        téléphone: {{item.contact}}
                    </li>
                    <li>
                        email: {{item.email}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
