#mentor{
    box-shadow: 3px 2px 3px 3px rgb(237, 245, 239);
    border-radius: 10px;
}

#mentor:hover{
    box-shadow: 3px 2px 3px 3px rgb(187, 252, 203);
}

h3{
    text-align: center;
    font-weight: 700;
}

#categorie{
    margin-bottom: 50px;
    margin-top: 10px;
}

.tem{
    display: table;

}

.slider {
  width: 100vw;
  max-width: 100%;
  white-space: nowrap;
  background-color: orange;
  display: table;
}