h1{
    padding:  30px;
 color: black;
   top: 1%;
    left: 35%;
 }
 #met{
   
    height: 120px;
    width: 840px;
    padding: 25px;
    margin: 1px 20px 20px 20px;
   
    box-shadow: 3px 2px 3px 2px#f79592;
    border-radius: 10px;
   top: 1%;
    left: 35%;
    color: black;
 }
 .form-check{
    margin: 5px 5px 5px 40px;
 }
 #test{
padding: 15px 1px 1px 1px;


 }