h1{
    padding:  30px;
   margin: 1px 1px 1px 300px;
  color: black;
   top: 1%;
    left: 35%;
 }
 #met{
   
    height: 100px;
    width: 850px;
    padding: 15px;
    margin: 10px 10px 10px 200px;
    box-shadow: 3px 2px 3px 2px#f79592;
    border-radius: 10px;
   top: 1%;
    left: 35%;
    color: black;
 }
 .form-check{
    margin: 5px 5px 5px 40px;
 }
 #test{
padding: 15px 1px 1px 1px;


 }