<div class="row justify-content-center">
    <div>
        <h1>TEST POUR SAVOIR QUEL METIER CHOISIR</h1>

        <form>

            <div >
                <div id="test"  style="font-size: 18px "> 1) Vous avez une heure à perdre.A quoi l'occupez-vouz?
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je bricole(fabrication des pétits objets,jardinier)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je me plonge dans un bouquin
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je fais mes comptes
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Je sors pour voir du monde
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je médite
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je dessine
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je joue d'un instrument
                    </label>
                </div>
            </div>
            <div>
                <div  id="test"style="font-size: 18px">2) Durant un trajet en taxi ou en bus</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je lis le quotidien du journal
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je regarde la manière dont les voyageurs sont habillés
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je me dis que rien ne vaut la marche à pieds
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Je cherche à entrer en contact avec mon voisin(e)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je suis scotché à mon walkman
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je calcule le temps moyen entre chaque arret
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> J'observe les voyageurs et je cherche à deviner leur pensée
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px"> 3) Si vous étiez un lieu, vouz seriez</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Un laboratoire
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Un stade
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Une salle de concert
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Un atelier
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Un troquet
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Une foret
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Une bibliothèque
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">4) Mon média préféré c'est</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> RFI
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> B.B.C
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> C.N.N
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">AFRICA N1
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> CRTV
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> WASHINGTON POST
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> JCFI-TV5
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">5) Si vous étiez un personnage historique vous aimeriez etre.....</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Nelson Mandela
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Mahatma Ghanti
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Martin Luther King
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Albert Einstein
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Bob Marley
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Roger Milla
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Cheich Modibo Diarra
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">6) Si vous étiez une femme célèbre,vous aimeriez etre.....</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Myriam Makeba
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Marie Curie
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Chantal Biya
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Marie Jose Perec
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Mère Teresa
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Hillary Clinton
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Naomi Compelle
                    </label>
                </div>
            </div>

            <div>
                <div style="font-size: 18px">7) Dans un journal, que regardez vous en priorité</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Les photos
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Les pages "people"
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Les débats de société
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Les informations sur les découvertes scientifiques
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Jeu de mots
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Les pages cultures
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Les reportages
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">8) Enfant,vous adoriez....</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Passer des heures à lire
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Faire des jeux de construction
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Sauter à la corde
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Participer à des gouters d'anniversaire
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Regarder des documentaires
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Découvrir des endroits secrets
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Chanter
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">9) Au cinema vous etes sensible.....</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Au scénario
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">A l'action
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> A la beauté des images
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">A la force des dialogues
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> A la musique
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Au jeu des acteurs
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">A la psychologie des acteurs
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">10) comment mémoriser vous</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> En écoutant
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">En étant logique
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> En visualisant
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">En marchant
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> En parlant
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">En me concentrant sur mes émotions
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">En lisant et relisant
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">11) Quel est l'insulte qui te vexe le plus?</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> T'as pas le sens du rythme
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Tu te crois le nombril du monde
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> T'es maniaque
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">T'as le gout des chiottes
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> T'as de deux mains gauches
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Tu te prends pour mère Teresa
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Tes blagues sont ringardes
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">12) Que pourrait-o dire de vous?</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Que je cartésien
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Que je suis adroit
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Que j'ai le tchatche
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Que j'ai l'oreille
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Que je suis inventif
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Que je suis refléchi
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Que je suis serviable
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">13) Dans votre établissement scolaire,quelle est la matière dans laquelle vous excellez particulièrement?
                    </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> La littérature, les langues ou l'histoire
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Les épreuves orales ou exposés
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> La géométrie ou la géographie
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">La musique ou la couture
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Les mathématiques,sciences naturelles ou la physique
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Les travaux manuels ou techniques e le sport
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">La philosophie
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">14) Dans laquelle de ces qualités vous reconnaissez-vous?</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je me repère facilement dans millieu inconnu
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Je raisonne facilement dans l'abstrait
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je ne m'ennuie jamais
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">J'ai du vocabulaire
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> J'arrive à distinguer tous les instruments de musique d'un morceau
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Je règle un appareil de musique sans lire le mode d'emploi
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Je lie facilement connaissance
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">14) Quelle est votre manie</div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Je ne peux pas m'empecher de faire des jeux de mots
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">J'accorde trop d'importance à l'apparence
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> J'essaie toujours de marchander ou de faire de la feymania
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Je sifflote ou frdonne sans cesse
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> J'ai toujours besoin de toucher
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">J'analyse mes reves
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Je cherche une explication rationnelle à tout
                    </label>
                </div>
            </div>
            <div>
                <div style="font-size: 18px">16) Vous arrivez dans une soirée d'emblée </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Vous etes déja là, c'est vous qui l'organisez
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Vous restez dans votre coin
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Vous vous asseyez pour discuter
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Vous remplacez le Dj
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami"> Vous faites le tour du propriétaire
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Vous dansez
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="origine" value="ami">Vous mettez de l'ambiance
                    </label>
                </div>
            </div>
            <button>Envoyer</button>
        </form>
        <br>
    </div>
</div>