<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="nav">
    <a class="navbar-brand" href="#">Orientation App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <ul class="navbar-nav" style="margin-right: 20px;">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']"  style="margin-right: 25px;">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"  [routerLink]="[ {outlets: {content:['books']}} ]"  style="margin-right: 25px;">Consulter la librairie</a>
            </li>
            <!-- <li class="nav-item active">
                <a class="nav-link" [routerLink]="[ {outlets: {content:['mentors']}} ]"  style="margin-right: 25px;">Mentors</a>
            </li>  -->.
        </ul>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 60px;">
    <router-outlet name = "content"></router-outlet> 
</div>
<app-footer></app-footer>