<div class="container-fluid" style="min-height: 600px;">
    <button class="btn" id="add" data-toggle="modal" data-target="#addModal"> <img src="assets/images/add.png"> Ajouter
        une personnalitée</button>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let personnality of personnalities | paginate: { itemsPerPage: 10, currentPage: p }">
                <th scope="row">{{personnality.id}}</th>
                <td>{{personnality.name}}</td>
                <td>{{personnality.description.slice(0,40)+' ...'}}</td>
                <td> <a id="image" data-toggle="modal" data-target="#editModal" (click)="store(personnality)"><img
                            src="assets/images/pencil.png"></a> <a data-toggle="modal" data-target="#deleteModal"
                        (click)="storeDel(personnality)"><img src="assets/images/delete.png"></a></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="offset-3" style="margin-top: 40px;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark" id="header">
                <div class="container">
                    <h3 class="modal-title" id="title">Editer une personnalitée</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #editForm="ngForm" (ngSubmit)="edit()">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nom</label>
                        <input type="text" class="form-control" name="name" placeholder="" value={{temp.name}}
                            [(ngModel)]="temp.name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Description</label>
                        <textarea class="form-control" name="description" placeholder="" value={{temp.description}}
                            [(ngModel)]="temp.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Attacher un métier</label>
                        <select class="form-control" [(ngModel)]="temp.career" name="career">
                            <option *ngFor="let career of careers" [value]="career.id">{{career.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >Déttacher un métier</label>
                        <select class="form-control" [(ngModel)]="temp.careerDel" name="career">
                            <option *ngFor="let career of careers" [value]="career.id">{{career.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="margin-right: 15px;">Annuler</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark" id="header">
                <div class="container">
                    <h3 class="modal-title" id="title">Nouvelle personnalitée</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #registerForm="ngForm" (ngSubmit)="register()">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nom</label>
                        <input type="text" class="form-control" name="name" placeholder="" [(ngModel)]="formData.name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Description</label>
                        <textarea class="form-control" name="description" placeholder=""
                            [(ngModel)]="formData.description" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="margin-right: 15px;">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Créer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid" style="text-align: center; margin-bottom: 20px;">
                    Voulez vous vraiment supprimer cet élément?
                </div>
                <div class="container-fluid" style="padding-left: 110px;">
                    <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal"
                        style="margin-right: 50px;">Annuler</button>
                    <button class="btn btn-primary" (click)="delete()">Supprimer</button>
                </div>
            </div>

        </div>
    </div>
</div>
