<div class="contenant">
    <img class="card-img-top" src="assets/images/c.jpg" id="top">
    <div class="texte_centrer">
        <h2>Réussir votre entrée dans la vie professionnelle
            </h2>
        </div>
</div>

<div class="text-center py-3">

    <form class="form-center" #testForm=ngForm (ngSubmit)="test()">
        <div>
            <label for="select" style="font-size: 18px;" >Choisissez votre spécialité</label>
        </div>
        <div>
            <select id="select" name="speciality" placeholder="" [(ngModel)]="speciality.id" required>
                <option *ngFor="let speciality of specialities" [value]="speciality.id">{{speciality.name}}</option>
            </select>
        
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" [disabled]="!testForm.valid">
                C'est parti!
            </button>
        </div>
    </form>

</div>

<div class="text-center py-3">
    <h1>Toutes les carrières au Cameroun</h1>
</div>
<div class="row">

    <div class="col-sm-4 col-md-4 " id="row">

        <img class="img-fluid" src="assets/images/0.jpg" id="img">


    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">

        <img class="img-fluid" src="assets/images/6.jpg" id="img">


    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">

        <img class="img-fluid" src="assets/images/5.jpg" id="img">

    </div>
</div>

<div class="footer-copyright text-center py-3">
    <h1>Toutes les universités du Cameroun</h1>
</div>

<div class="row">


    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <img class="img-fluid" src="assets/images/3 (2).jpg" id="img">
        </a>

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <img class="img-fluid" src="assets/images/3 (3).jpg" id="img">
        </a>

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <img class="img-fluid" src="assets/images/3 (4).jpg" id="img">
        </a>
    </div>

</div>
