
#top{
    height: 250px;
    max-width: 5500px;
 
}
#img{
  
    border-radius: 10px;
    height: 280px;
    width: 430px;
    margin:15px;
    
}
#img:hover{
    box-shadow: 10px 5px 10px 5px #145259;
}


a {
color: black;
}

footer{
  background-color: lightgrey;
  font-size: 15px;
  font-style: normal;

}
h1{
   padding: 10px;
   height: 60px;
   box-shadow: 10px 5px 10px 5px#145259;
   border-radius: 20px;
}
h2{
    padding: 0px;
   
 }
li{
   margin: 1px 1px 1px 1px;
   padding:1px 1px 1px 1px;
}


select{
    width: 100px;
    height: 35px;
}

