<div class="container-fluid">
    <img class="card-img-top" src="assets/images/1 (1).jpg">

</div>

<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand"></a>
        <form class="form-inline my-2 my-lg-0">
            <select class="form-control" id="exampleFormControlSelect1" placeholder="Entrer votre serie">
                <option>A</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
                <option>G</option>
                <option>IH</option>
            </select>
    
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
                <a href="#">
                    C'est parti!
                </a>
    
            </button>
        </form>
        <a class="navbar-brand"></a>
    </nav>
<div class="footer-copyright text-center py-3">
    <h1>Toutes les carrières disponibles au Cameroun</h1>
</div>
<div class="row">

    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <img class="img-fluid" src="assets/images/0.jpg" id="img">
        </a>

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <img class="img-fluid" src="assets/images/6.jpg" id="img">
        </a>

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <img class="img-fluid" src="assets/images/5.jpg" id="img">
        </a>

    </div>
</div>

<div class="footer-copyright text-center py-3">
        <h1>Toutes les universités du Cameroun</h1>
    </div>

<div class="row">


    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <img class="img-fluid" src="assets/images/3 (2).jpg" id="img">
        </a>

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <img class="img-fluid" src="assets/images/3 (3).jpg" id="img">
        </a>

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <img class="img-fluid" src="assets/images/3 (4).jpg" id="img">
        </a>
    </div>

</div>
