
#top{
    height: 350px;
    max-width: 5500px; 
}
.texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
    h2{
color: red;
    }

#img{
  
    height: 280px;
    width: 430px;
    margin:10px;
    
}
#img:hover{
    box-shadow: 3px 3px 3px 3px #145259;
}


a {
color: black;
}


h1{
   padding: 10px;
   height: 60px;
   box-shadow: 3px 2px 3px 2px#145259;
   border-radius: 10px;
}
h2{
    padding: 0px;
   
 }
li{
   margin: 1px 1px 1px 1px;
   padding:1px 1px 1px 1px;
}


select{
    width: 100px;
    height: 35px;
}

