<div class="container-fluid">
    <img class="card-img-top" src="assets/images/1 (1).jpg">

</div>


<form class="form-inline my-2 my-lg-0" #testForm=ngForm (ngSubmit)="test()">
    <div class="form-group">
        <label for="select">Choisissez votre spécialité</label>
        <select class="form-control" id="select" name="speciality" placeholder="" [(ngModel)]="speciality.id" required>
            <option *ngFor="let speciality of specialities" [value]="speciality.id">{{speciality.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" [disabled]="!testForm.valid">
            C'est parti
        </button>
    </div>
</form>


<div class="text-center py-3">
    <h1>Toutes les carrières disponibles au Cameroun</h1>
</div>
<div class="row">

    <div class="col-sm-4 col-md-4 " id="row">
       
            <img class="img-fluid" src="assets/images/0.jpg" id="img">
        

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
       
            <img class="img-fluid" src="assets/images/6.jpg" id="img">
   

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
       
            <img class="img-fluid" src="assets/images/5.jpg" id="img">
      
    </div>
</div>

<div class="footer-copyright text-center py-3">
    <h1>Toutes les universités du Cameroun</h1>
</div>

<div class="row">


    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <img class="img-fluid" src="assets/images/3 (2).jpg" id="img">
        </a>

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <img class="img-fluid" src="assets/images/3 (3).jpg" id="img">
        </a>

    </div>
    <div class="col-sm-4 col-md-4 portfolio-item" id="row">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <img class="img-fluid" src="assets/images/3 (4).jpg" id="img">
        </a>
    </div>

</div>

<!-- Footer -->
<footer class="page-footer font-small ">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SUP-CAMER</h5>
                <p>C'est une apllication  permettant aux jeunes de mieux s'orienter,s'informer et choisir une carrière.</p>

            </div>
            <!-- Grid column -->


            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <img class="img-fluid" src="assets/images/h.png"> Elig-Essono</p>
                    </li>
                    <li>
                        <p>
                            <img class="img-fluid" src="assets/images/tel.png"> +237697790261</p>
                    </li>
                    <li>
                        <p>
                            <img class="img-fluid" src="assets/images/mail.png">cefritech11@gmail.com</p>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">suivez nous</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/f.png">
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/t.png">
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/g.png">
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/w.png">
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    <div style="background-color: #145259">

        <div class="footer-copyright text-center py-1">© 2020 Copyright:CEFRITECH
           
        </div>
    </div>
</footer>
<!-- Footer -->