
<!-- Footer -->
<footer class="page-footer font-small ">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class=" font-weight-bold text-uppercase mt-3 mb-4">SUP-CAMER</h5>
                <p>C'est une apllication permettant aux jeunes de mieux s'orienter,s'informer et choisir une carrière.</p>

            </div>
            <!-- Grid column -->


            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <img class="img-fluid" src="assets/images/h.png"> Elig-Essono</p>
                    </li>
                    <li>
                        <p>
                            <img class="img-fluid" src="assets/images/tel.png"> +237697790261</p>
                    </li>
                    <li>
                        <p>
                            <img class="img-fluid" src="assets/images/mail.png">cefritech11@gmail.com</p>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">suivez nous</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/f.png">
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/t.png">
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/g.png">
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/w.png">
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    <div style="background-color: #145259">

        <div class="footer-copyright text-center py-1">© 2020 Copyright:CEFRITECH

        </div>
    </div>
</footer>
<!-- Footer -->