
<!-- Footer -->
<footer class="page-footer font-small ">
    <!-- Footer Links -->
    <div class="container text-center text-md-left" id="main_footer">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto" style="margin-top: 20px;">

                <!-- Content -->
                <h4>Orientation App</h4>
                <p style="text-align: justify;">C'est une apllication permettant aux jeunes de mieux s'orienter,s'informer et choisir une carrière.</p>

            </div>
            <!-- Grid column -->


            <div class="col-md-3 mx-auto" style="margin-top: 20px;">

                <!-- Links -->
                <h4>Contacts</h4>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <img class="img-fluid" src="assets/images/h.png"> Elig-Essono</p>
                    </li>
                    <li>
                        <p>
                            <img class="img-fluid" src="assets/images/tel.png"> +237697790261</p>
                    </li>
                    <li>
                        <p>
                            <img class="img-fluid" src="assets/images/mail.png">cefritech11@gmail.com</p>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mx-auto" style="margin-top: 20px;">

                <!-- Links -->
                <h4>Suivez nous</h4>

                <ul class="list-unstyled">
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/f.png"> Facebook
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/t.png"> twitter
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/g.png"> google
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <img class="img-fluid" src="assets/images/w.png"> whatsApp
                        </a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    
        <div class="footer-copyright text-center py-1" style="background-color: #145259">© 2020 Copyright | CEFRITECH</div>
    
</footer>
<!-- Footer -->