<div class="container-fluid">
    <button class="btn" id="add"  data-toggle="modal" data-target="#addModal"> <img src="assets/images/add.png"> Ajouter un mentor</button>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mentor of mentors">
                <th scope="row">{{mentor.id}}</th>
                <td>{{mentor.name}}</td>
                <td>{{mentor.contact}}</td>
                <td>{{mentor.email}}</td>
                <td> <a id="image"  data-toggle="modal" data-target="#editModal" (click)="store(mentor)"><img src="assets/images/pencil.png"></a> <a data-toggle="modal" data-target="#deleteModal" (click)="storeDel(mentor)"><img src="assets/images/delete.png"></a></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark" id="header">
                <div class="container">
                    <h3 class="modal-title" id="title">Editer une Mentor</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #editForm="ngForm" (ngSubmit)="edit()">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nom</label>
                        <input type="text" class="form-control" name="name" placeholder="" value={{temp.name}} [(ngModel)]="temp.name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="" value={{temp.email}} [(ngModel)]="temp.email">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Contact</label>
                        <input type="text" class="form-control" name="contact" placeholder="" value={{temp.contact}} [(ngModel)]="temp.contact">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="margin-right: 15px;">Annuler</button>
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark" id="header">
                <div class="container">
                    <h3 class="modal-title" id="title">Editer une Mentor</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #registerForm="ngForm" (ngSubmit)="register()">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nom</label>
                        <input type="text" class="form-control" name="name" placeholder="" [(ngModel)]="formData.name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Email</label>
                        <input type="email" class="form-control" name="localisation" placeholder=""  [(ngModel)]="formData.email" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Contact</label>
                        <input type="text" class="form-control" name="site" placeholder="" [(ngModel)]="formData.contact" required>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            style="margin-right: 15px;">Annuler</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Créer</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid" style="text-align: center; margin-bottom: 20px;">
                    Voulez vous vraiment supprimer cet élément?
                </div>
                <div class="container-fluid" style="padding-left: 110px;">
                    <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal"
                        style="margin-right: 50px;">Annuler</button>
                    <button class="btn btn-primary" (click)="delete()">Supprimer</button>
                </div>
            </div>

        </div>
    </div>
</div>